
{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
<style type="text/css">
	li
	{
       color: black;
       font-size: 20px;
        font-family: "Times New Roman", Times, serif;
	}
footer
{
	 color: black;
       font-size: 20px;
        font-family: "Times New Roman", Times, serif;
}

</style>
    <h2>INTRO:</h2>
         <h3>This is a bidding site, here you can search for the required items and can bid for them,when the owner of the item is satisfied with the bid,he will sell the item to the bidder.</h3>
    <ul>
    	
    	        <li>First register with your details.</li>
        <li>You can sell your items by creating a listing at "Create a new listing".</li>
        <li>You can see all the active biddings at "Active listings".</li>
        <li>You can easily search for the required item in "Categories".</li>
        <li>You can add items into your watchlist and can see your watchlisted items in "My Watchlist".</li>
        
    	
    </ul>
   <footer>
     DESIGNED BY NAVEEN😎 
        </footer>
 
{% endblock %}